.about-us {
    width: 100%;
    height: auto;
    margin-bottom: var(--margin-y);
    padding: 8px;


		&__content {
            width: 100%;
            height: inherit;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            flex: 1 0 auto; 
		}

		&__heading {
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: flex-start;
            row-gap: 1.3rem;
            p {
                max-width: 55%;
                text-align: left;
                max-height:58px;
                padding: 8px 10px;
                margin-bottom: 2.2rem;
                @include mobile {
                    max-width: 94vw;
                }
            }

            h1 {
                text-align: center;
                max-width: 92vw;
                margin: 0 8px;
                text-wrap: balance;
            }
		}

		&__cards--row {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            gap: 3.5rem;
            align-items: center;
            @include tablet-b {
                justify-content: center;
                flex-flow: row wrap;
            }

		}

		&__card {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column nowrap;
            row-gap: 1rem;
            padding: 40px;
            flex: 1 1 auto;

            img {
                margin: 0 auto;
                flex: 0 0 auto;
            }
		}

		&__btns {
            display: flex;
            flex: 1 0 96%; 
            gap: 8px;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

		}
}

