.banner {
    width: 100%;
    height: auto;
    min-height: 400px;
    padding: 0 8px; 
    margin: 0 0 80px 0; 

	

		&__content {
            width: 100%;
            height: inherit;
            display: flex;
            flex-flow: column nowrap;
            row-gap: 3.5rem;
            justify-content: center;
            align-items: center;
		}

		&__picture {
            flex: 1 1 auto;
            width: auto;
            height: auto;
            object-fit: contain;
            border-radius: 16px;
            @include laptop {
                width: 100vw;
            }
		}

		&__text {
            display: flex;
            flex-flow: column nowrap;
            align-items: flex-start;
            justify-content: center;
            row-gap: 2.2rem;
              flex: 1 1 auto;
              @include mobile-s {
                flex: none;
                max-width: 94vw;
                padding: 4px 8px;
                margin: 4px auto;
              }
		}

		

		&__paragraph {
            p {
                max-width: 450px;
                text-align: left;
                text-wrap: balance;
            }
		}

		&__btns--row {
            max-width: 96%;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
            gap: 1.1rem;
            flex: 1 1 auto;
            @include tablet {
                flex-flow: row wrap;
            }
		}
}

