// ------ повторяющееся корневые значения стилей: 
:root {
    --container-max-width:  1200px;
    --margin-y: 40px;
    --margin-small: 10px; 
    --margin-big: 24px;
    --padding-default: 10px 12px; 
    // значения цветовой палитры:
    // -------------------
    --montana-primary: #F8F6F1; 
    --montana-secondary: #46AAAD; 
    --montana-accent: #F8CD95;
    --montana-dark: #035055;
    --montana-typography: #252525; 
}