// ------ повторяющееся корневые значения стилей: 
:root {
    --container-max-width:  1220px;
    --margin-y: 110px;
    // значения цветовой палитры:
    // -------------------
    --montana-primary:  #f8f6f1;
    --montana-secondary: #F0CE9A;
    --montana-accent: #46aaaf; 
    --montana-hover:#055056; 

}
