// пишем ограничивающий контейнер: 
[class*="__container"] { 
width: 100%;
max-width: var(--container-max-width);
height: auto;
margin: 0 auto;
padding: 0 16px;

@include tablet-b {
    max-width: 960px;
}
@include tablet {
    max-width: none;
    
   
}

}
// расчитываем стандартную типографию по фигма 
// главный загооловок:
h1 {
    font-size: clamp(64px, 4.5vw, 66px);
    line-height: calc(72 / 66 * 100%);
    font-family:"Gillroy", sans-serif;
    font-family: "Ronix", sans-serif;
    color: #252525;
    text-wrap: balance;
    @include mobile-s {
        font-size: 35px;
    }
}
// заголовок раздела:
h2 {
    font-size: clamp(39px, 2.8vw, 41px);
    line-height: calc(47 / 41 * 100%);
    font-family:"Gillroy", sans-serif;
    font-family: "Ronix", sans-serif;
    color: #252525;
}
// подзаголовок: 
h3  {
    font-size: clamp(23px, 1.7vw, 25px);
    line-height: calc(31 / 25 * 100%);
    font-family: "Ronix", sans-serif;
    color: #252525;
}
//  подзаголовок блока: 
h4 {
    font-size: clamp(18px, 1.3vw, 20px);
    line-height: calc(26 / 20 * 100%);
    font-family: "Ronix", sans-serif;
}
p {
    font-size: clamp(16px, 1.25vw, 18px);
    line-height: calc(24 / 18 * 100%);
    color: #252525;
}

li {
    font-size: clamp(16px, 1.25vw, 18px);
    line-height: calc(24 / 18 * 100%);
}
// ------------------------------------------------
// стили для .wrapper: 
.wrapper {
    overflow: clip;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.wrapper>main {
    flex-grow: 1;
}
// ---------------
body,html {
    height: auto;
    min-height: 100%;
    text-align: left;
    overflow-x: hidden;
    scroll-behavior: smooth;
    font-size: 16px;
    font-family:"Gillroy", sans-serif;
    color: var(--montana-primary);
    background: var(--montana-primary);
}
// ----------------------
// повторное использование утилитарных классов 
.btn-sm {
    @include button-sm;
}
.btn-lg {
    @include button-lg;
}
.btn-lg--primary {
    @include button-lg;
    background-color: var(--montana-accent);
    border: 2px solid var(--montana-primary);

}
.btn-lg--transparent {
    @include button-lg; 
    background-color: transparent;
    color: #252525!important;
    border: 3px solid var(--montana-secondary);

    @include hover {
        color: var(--montana-accent) !important;
    }

}
section {
    margin-bottom: var(--margin-y);
}